@model ForgetPasswordViewModel

@{
	ViewData["Title"] = "ForgetPassword";
	Layout = "~/Views/Account/_AccountLayout.cshtml";
}

<div class="agileits-top">
	<div asp-validation-summary="ModelOnly"></div>
	<form asp-action="ForgetPassword">
		<input class="text email" asp-for="Email" placeholder="Email" required="">
		<input type="submit" value="Send Email">
	</form>
</div>